
{% extends 'base.html' %}
{% block main %}
<main id="main">
    <div class="container mt-5">
        <h2>Lista de Cotizaciones</h2>
        <a href="{% url 'cotizacion_create' %}" class="btn btn-success mb-3"><i class="bi bi-plus-square"></i></a>
        <table class="table table-bordered jquery_table">
            <thead>
                <tr>
                    <th>Reforma</th>
                    <th>Proveedor</th>
                    <th>Costo Estimado</th>
                    <th>Fecha Emisión</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cotizacion in cotizaciones %}
                    <tr>
                        <td>{{ cotizacion.reforma }}</td>
                        <td>{{ cotizacion.proveedor }}</td>
                        <td>{{ cotizacion.costo_estimado }}</td>
                        <td>{{ cotizacion.fecha_emision }}</td>
                        <td>
                            <a href="{% url 'cotizacion_edit' cotizacion.pk %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'cotizacion_delete' cotizacion.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay cotizaciones registradas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}